{
  "root": true,
  "parser": "@typescript-eslint/parser",
  "plugins": ["@typescript-eslint", "jest", "import", "prettier"],
  "rules": {
    "prettier/prettier": ["error"],
    "import/extensions": "off",
    "no-use-before-define": "off",
    "import/prefer-default-export": "off",
    "import/no-default-export": ["error"]
  },
  "extends": [
    "airbnb-base",
    "prettier",
    "plugin:import/recommended",
    "plugin:import/typescript"
  ],
  "env": {
    "jest/globals": true
  },
  "ignorePatterns": ["**/__mocks__"]
}
